/*
statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
statusbar plugin is added, it also adds default setting to make the content white via:

<preference name="StatusBarStyle" value="lightcontent"/>

Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
in the config.xml file and will be added by the CLI when you build locally.

See https://github.com/apache/cordova-plugin-statusbar
*/

/*.statusbar-overlay {
  background: #000000;
}*/

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../lib/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../lib/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../lib/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../lib/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

html {
  font-family: 'Roboto', 'Noto', sans-serif;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.card {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
}

.md-card {
  margin: 8px 8px 0px 8px;
}

.card-header-pic .card-header {
  height: 40vw !important;
  background-size: cover !important;
  background-position: center !important;
}

.infinite-scroll-preloader {
  margin-top:-7px;
  margin-bottom: 10px;
  text-align: center;
}
.infinite-scroll-preloader .preloader {
  width:34px;
  height:34px;
}

.toolbar.toolbar-bottom.tabbar {
  position: absolute;
}

.page-content.infinite-scroll {
  padding-bottom: 30px;
}

.page-content.raised-page {
  padding-bottom: 25px;
}

.panel {
  width: 280px;
}

.no-text-decor {
  text-decoration:none;
}

.full-width {
  width: 100% !important;
}

.custom-floating-button {
  bottom: 10px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.custom-floating-button-tutorial {
  pointer-events: none;
  position: absolute;
  top: calc(80% - 26px);
  left: calc(50% - 26px);
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

a.floating-button.color-white.custom-floating-button-tutorial {
  background-color: #34495e;
  color: white;
}

a.color-white.custom-floating-button-tutorial {
  background-color: #34495e;
  color: white;
}

.align-left {
  text-align: left;
}

.navbar-bottom {
  top: auto;
  bottom: 0px;
}

.margin-top-25 {
  margin-top: 25px;
}

.login-buttons-div {
  position: relative;
  top: 30px;
}

.login-background {
  background-image: url("../img/login-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}

.no-caps {
  text-transform: none;
}

.color-deepurple-custom {
  color: #34495e !important;
}

.color-white-custom {
  color: white !important;
}

.color-black-custom {
  color: #111112 !important;
}

.card.col-50.color-black-custom-1 {
  background-color: #111112;
  color: white;
}

.login-button-logo-absolute {
  width: 30px;
  height: 30px;
  background-image: url("../img/google-logo.jpg");
}

.custom-layout-dark {
  background-color: #222;
}

a.floating-button.color-deeppurple-custom.custom-floating-button {
  background-color: #34495e;
}

a.color-deeppurple-custom.custom-floating-button {
  background-color: #34495e;
}

.custom-purple-color {
  background-color: #34495e !important;
}

.toolbar-inner {
  background-color: #111112;
}

.button-float-right {
  width: 200px;
  float: right;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.left-panel-pic {
  background-image: url("../img/purple-orange.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left bottom;
  width: 100%;
  height: 30%;
}

.toolbar.toolbar-bottom.tabbar.tabbar-labels.toolbar-hidden {
  transform: translate3d(0,128px,0);
}

.wizard-background {
  background-image: url("../img/rocks.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.facebook-card .card-header {
  display: block;
  padding: 10px;
}
.facebook-card .facebook-avatar {
  float: left;
}
.facebook-card .facebook-name {
  margin-left: 44px;
  font-size: 14px;
  font-weight: 500;
}
.facebook-card .facebook-date {
  margin-left: 44px;
  font-size: 13px;
  color: #8e8e93;
}
.facebook-card .card-footer {
  background: #000000;
}
.facebook-card .card-footer a {
  color: #8e8e93;
  font-weight: 500;
}
.facebook-card .card-content img {
  display: block;
}
.facebook-card .card-content-inner {
  padding: 15px 10px;
}

.item-media.custom-item-media-width {
  width: 15%;
}

.modal.modal-in {
  background-color: #222;
  color: rgba(255,255,255,.87);
}

.modal-title {
  color: rgba(255,255,255,.87);
}

input.modal-text-input {
  background-color: #222;
  color: white;
}

span.modal-button {
  color: rgba(255,255,255,.87);
}

.demo-card-header-pic .card-header {
  height: 49vw;
  background-size: cover;
  background-position: center;
}

.logo-center {
  height: 55px;
  width: 55px;
  background-image: url(../img/fire-logo.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  margin-top: 3px;
}

.showspark-center {
  height: 45px;
  width: 120px;
  background-image: url(../img/showspark.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 11px;
  background-position: top left;
  float: left;
}

.center.center-in-tabs {
  width: 100%;
  text-align: center;
}

.logo-center-canvas {
  width: 180px;
  height: 61px;
  margin: 0 auto;
  position: fixed;
  top: 0px;
  left: calc(50% - 97px);
  background-color: white;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}

.text-border-black {
  text-shadow: 1px 1px 1px black;
  font-size: 15px;
}

.navbar {
  box-shadow: none !important;
  height: 80px;
}

.navbar-inner {
  top: 24px;
  height: 56px;
}

.toolbar.tabbar {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3) !important;
}

.custom-grey-background {
  background-color: #eeeeee;
}

.horizontal-scroll {
  overflow-x: auto;
  width: auto;
  white-space: nowrap;
  margin: 16px 0px 12px 0px;
}

.content-block-title {
  padding-top: 0px !important;
}

::-webkit-scrollbar {
  display: none;
}

.chip {
  margin: 2px 10px 2px 0px !important;
  color: white !important;
  background-color: #34495e !important;
}

.subnavbar.toolbar.tabbar {
  top: 79px;
}

div#tab-cinema {
  padding-top: 127px;
}

div#tab-tv {
  padding-top: 127px;
}

div#tab-sc {
  padding-top: 127px;
}

div#tab-rv {
  padding-top: 127px;
}

.profile-container {
  position: absolute;
  left: 10px;
  top: calc(30% - 35px);
}

.swiper-slide {
  /*background: #fff;*/
  box-sizing: border-box;
  border: none;
  border-radius: 4px 4px 2px 2px;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
}

.swiper-pagination {
  top: 10px;
  left: 20px;
  height: 20px;
  text-align: left;
  transform: scale(0.8);
  transform-origin: top left;
}

span.swiper-pagination-bullet {
  margin: 0 5px;
  background: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #34495e;
}

.swiper-container.swiper-1.swiper-container-horizontal {
  padding: 0px 8px 8px 8px;
}

.padding-sides-8 {
  padding: 0px 8px;
}

div[class*="col-"] {
  background: #fff;
  text-align: left;
  color: #000;
  border: 1px solid #ddd;
  margin: 8px 0px 0px 0px;
}

.row {
  /*margin-bottom: 15px;*/
}

.margin-bottom-15 {
  margin-bottom: 15px;
}

.no-margin {
  margin: 0px;
  padding: 0px;
}

.card.col-50 {
  border: none;
}

.play-icon {
  position: absolute;
  font-size: 20vw;
  color: white;
  top: calc(50% - 49px);
  left: calc(50% - 49px);
}

.movie-detail-play-icon {
  width: 30px;
  height: 30px;
  color: black;
  vertical-align: middle;
}

/* SHOWSPARK workaround for hiding navbar with transparent statusbar*/
.navbar.navbar-hidden {
  transition-duration: .2s;
  -webkit-transform: translate3d(0,calc(-100% + 24px),0);
  transform: translate3d(0,calc(-100% + 24px),0);
}

.navbar.navbar-hidden .navbar-inner {
  display: none;
}

.navbar.navbar-hiding {
  transition-duration: .2s;
}

.pulse-btn {
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*display: block;*/
  /*width: 50px;*/
  /*height: 50px;*/
  /*line-height:50px;*/
  /*text-align:center;*/
  /*color: #fff;*/
  border: none;
  box-shadow: 0 0 0 0 #f0f0f0, 0 0 0 0 #34495e;
  /*border-radius: 25px;*/
  /*v-align: middle;*/
  /*background: #e3730e;*/
  /*cursor: pointer;*/
  transform: translate3d(0, 0, 0);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0.33, 0, 1);
}

.pulse-btn:hover > i {
  color:#fff;
  text-shadow: 3px 3px 3px rgba(0,0,0,.35);
}
.pulse-btn:focus > i {
  color:#fff;
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 12px transparent, 0 0 0 24px rgba(227, 115, 14, 0);
  }
}

.accordion-item-content {
  transition-duration: 0.15s !important;
}

.movie-detail-poster {
  border: none;
  margin: 0px;
}

.main-movie-detail-half {
  /*display: table-cell;*/
  border: none !important;
  background: transparent !important;
}

#ratingAndPoster {
  margin: 8px 5px 5px 8px;
  width: 40%;
}

#movieDetailRating {
  position: absolute;
  top: 80px;
  right: 0px;
  padding: 0px 5px 0px 5px;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.7);
  display: inline-block;
  min-width: 21px;
  text-align: center;
  font-size: 1.5em;
}

#movieDescriptionDiv {
  /*max-height: 250px;*/
  /*overflow: scroll;*/
  text-align: justify;
}

.justify {
  text-align: justify;
}

.innerImgResizer {
  vertical-align: top;
  width: 100%;
  opacity: 0;
}

#similarMovies {
  width: 100%;
}

.absolute {
  position: absolute;
}

.similar-movie-rating {
  padding: 0px 5px 0px 5px;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.7);
  min-width: 21px;
  text-align: center;
  font-size: 1.5em;
  top: 0px;
  right: 0px;
}

.similar-movie-title {
  padding: 0px 5px 0px 5px;
  background: rgb(255, 255, 255); /* Fallback for older browsers without RGBA-support */
  background: rgba(255, 255, 255, 0.7);
  min-width: 21px;
  text-align: center;
  bottom: 0px;
  left: 0px;
}

.item-text.item-text-5-rows {
  max-height: 100px;
  -webkit-line-clamp: 4;
}

div#movie-detail-trailer-button {
  width: 100%;
  margin-left: calc(100% - 158px);
  margin-top: -42px;
  height: 30px;
  text-align: center;
}

span#movie-detail-trailer-label {
  color: white;
  vertical-align: middle;
  text-transform: none;
}

a#movie-detail-trailer-a {
  background-color: #111112;
  width: 150px;
}

.hidden {
  display: none;
}

div#movieDetailFirstDiv {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.text-shadow-1 {
  text-shadow: 1px 1px 1px black;
}

#imdbButton {
  background-image: url(../img/imdb-button.png);
  width: 92px;
  height: 56px;
  background-repeat: no-repeat;
  background-size: contain;
}

.padding-sides-8.horizontal-scroll.movie-detail-horizontal-scroll {
  margin: 0px 0px 0px 0px;
}

.no-margin-top {
  margin-top: 0px;
}

.max-height-195 {
  max-height: 195px;
}

.scroll-x {
  overflow-x: scroll;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.overflow-hidden {
  overflow: hidden;
}

.trailer-title {
  position: absolute;
  top: 5px;
  left: 10px;
  font-size: 17px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.fab-label {
  position: absolute;
  left: -100px;
  bottom: 16px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.no-navbar-icon {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 100;
  color: white;
}

#homepageButton {
  margin-top: 9px;
}

.margin-right-5 {
  margin-right: 5px;
}

.navbar-shadow {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3) !important;
}

#movieDetailNavbar {
  position: absolute;
}

.padding-4 {
  padding: 4px;
}

.signin-button-logo {
  width: 36px;
  height: 36px;
  position: absolute;
  top: 6px;
  left: 10px;
}

.google-background-color {
  background: #DD4B39 !important;
}

.facebook-background-color {
  background: #3B5998 !important;
}

#movieDetailNavbarCenterDiv {
  margin-left: 0px;
}

.button {
  padding: 0px 16px;
}

.list-block.panel-list .item-inner:after {
  display: none;
}

.list-block.panel-list {
  margin: 0px;
}

.list-block.accordion-list.rv-feed.no-margin-top .item-inner:after {
  left: -16px;
  width: calc(100% + 16px);
}

.navbar-fixed .page-content, .navbar-fixed.pages .page-content, .navbar-fixed.view .page-content, .navbar-through .page-content, .navbar-through.pages .page-content, .navbar-through.view .page-content {
  padding-top: 80px;
}

.report-bug-container {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

#fab-tv-label {
  position: absolute;
  top: 10px;
  left: -40px;
}

#fab-movie-label {
  position: absolute;
  top: 65px;
  left: -70px;
}

.searchBarMain {
	background: #fff;
	width: auto;
	max-width: 680px;
	margin: 0 auto;
	height: 42px;
	margin-top: 11px;
	border-radius: 2px;
	box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.14);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	position: fixed;
	left: 0;
	right: 0;
	top: 36px;
  margin: 0px 8px;
}

.searchBarMain i.searchBarSearchIcon {
	height: 100%;
	line-height: 42px;
	float: left;
	width: 52px;
	text-align: center;
	color: rgba(68, 68, 68, 0.5);
}

.searchBarMain input#searchBarInput {
	height: 42px;
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	background: transparent;
	width: calc(100% - 52px);
	outline: none;
	padding-right: 32px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.76);
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

.searchBarMain i.clearSearchBarField {
	position: absolute;
	right: 12px;
	top: 11px;
	color: rgba(0, 0, 0, 0.84);
	display: none;
	font-size: 20px;
}

.searchBarMain i.clearSearchBarField:hover {
	cursor: pointer;
}

.cast-card {
  width: 180px;
  height: 270px;
  background-repeat: no-repeat !important;
  margin: 0px 4px 0px 4px;
  background-position: top !important;
  background-size: cover !important;
}

.director-crew-card {
  width: 180px;
  height: 270px;
  background-repeat: no-repeat !important;
  margin: 0px 24px 0px 4px;
  background-position: top !important;
}

.display-inline-block {
  display: inline-block;
}

.director-title {
  margin-right: 150px;
}

.cast-title {
  position: -webkit-sticky;
  position: sticky;
  left: 16px;
}
